.navBar {
  background-color: rgb(152, 187, 231);
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  .logoHeader {
    text-align: center;
    img {
      width: 80%;
      padding-top: 10px;
    }
    p {
      padding-top: 15px;
      font-style: italic;
      margin: 0 auto;
    } 
  }

  .searchFilters {

    input {
      margin: 15px;
      padding: 10px;
    
      &.search {
      margin-bottom: 15px;
      width: 220px;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    font-size: 0.85em;
    
    .logoHeader {
      text-align: left;
      margin-left: 10px;
      img {
        width: 77px;
        height: 110px;
        margin-bottom: 5px;
        @media only screen and (max-width: 500px) {
          width: 50px;
          height: auto;
          }
      }
      p {
        display: none;
      }
    }
    .searchFilters {
      display: flex;
      flex-direction: row-reverse;
      input {
        margin: 10px;
        padding: 5px;
        list-style-type: none;
        &.search {
          height: 40px;
          @media only screen and (max-width: 550px) {
          width: 40%;
          }
        }
      }
    }
  }

}