
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 450px;
  max-width: 90%;
  @media only screen and (min-width: 1330px) {
    max-width: 45%;
  }
  background-color: rgba(168, 194, 228, 0.96);
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  
  img {
    margin: 10px;
    max-width: 270px;
    max-height: 325px;
  }

  div {
    margin: 10px;

    p {
      padding: 5px;
      font-size: 0.9em;

     &.description {
       font-style: italic;
     } 
    }
  }
}