.filtersList {
  margin-left: 45px;
  @media only screen and (max-width: 550px) {
    list-style-type: none;
    text-align: right;
  }
  @media only screen and (max-width: 800px) {
    ul {
      display: flex;
      li {
        display: flex;
      }
    }
  }
}